
body{
	background-color: white;
	font-family: Arial, Helvetica, sans-serif;
}
#container{
	padding: 5px;
	display: grid;
	grid-template-rows: 25vh auto;
	grid-template-columns: 1fr;
}

a:link, a:visited {
	padding: 5px;
	font-size: small;
	color: #4C4C4C;
	text-decoration: none;
}

a:hover{
	text-decoration: underline;
}

#link{
	text-align: right;
	margin: 20px;
}

.item{
	align-self: center;
	justify-self: center;
}

.search-form {
	margin: 25px;
	padding-left: 30px;
    border-radius: 50px;
    border: 1px solid lightgray;
    width: 45vw;
    height: 7vh;
    outline: none;
    cursor: text;
}

.search-form:hover{
	box-shadow: 0 0 5px lightgray;
}

#button{
	text-align: center;
}

.submit{
	background-color: #F0F0F1;
	border-radius: 5px;
	border:0px;
	width: 130px;
	height: 35px;
	color: #4C4C4C;
	margin-right: 10px;
	font-size: 14px;
	outline: none;
}

.submit:hover{
	border: 1px solid darkgray;
	cursor: pointer;
}

.submit:active{
	border: 1px solid #0996F8;
	border-radius: 5px;
}

#search-button{
	background-color: white;
	cursor: pointer;
	outline: none;
	color: blue;
	border: 0px;
}

#image-search{
	margin-right: -45px;
	width: 50vw;
}

#top{
	display: flex;
	background-color: #F0F0F1;
	align-items: center;
	height: 6vh;
}

.advanced{
	width: 50vw;
	padding: 10px;
}

#title{
	color: #DA3838;
	font-size: 20px;
	padding: 30px 0px 15px 40px;
}

#advanced-search{
	margin-left: 40px;
}

#elem{
	color: gray;
	font-size: 13px;
	text-align: right;
	margin-left: 635px;
}

form label{
	display: inline-block;
	font-size: small;
	width: 180px;
	margin: 15px 0px 15px 0px;
}

.text-input{
	width: 550px;
	height: 17px;
	padding: 5px 10px 5px 10px;
	border: 1px solid lightgray;
}

.text-input:focus{
	border-color: blue;
	box-shadow: 0px 1px 2px lightgray inset;
	outline: none;
}

#submit-advanced{
	background-color: #0996F8;
	border-radius: 3px;
	border:0px;
	width: 130px;
	height: 30px;
	color: white;
	margin-left: 150px;
	outline-style: double;
	outline-color: white;
	font-weight: bold;
	font-size: 12px;
}

#submit-advanced:hover{
	box-shadow: inset 0 0 2px #000000;
}

#submit-advanced:active{
	border:3px double white;
}

.info{
	width: auto;
	margin-left: 15px;
	color: gray;
	font-size: 11px;
}

.example{
	font-family: Lucida Console, Monaco, monospace;
	font-size: 11px;
	color: gray;
	margin-left: 3px;
	width: auto;
}

